@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic&effect=3d-float);
p{
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 300;
}
a{
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 300;
}
h2{
	font-family: "Source Sans Pro", sans-serif;
}

.jumbotron{
	background-image: url(../resources/jumbotron.jpg);
	background-size: cover;
	
}
.jumbotron{
	color: #f7f7f7;
	
}
.jumbotron h1{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight:300;
	
}

.btn-link{
	color: #f7f7f7;
}
.btn-link:hover{
	color:#f7f7f7;
}
#awens{
	background-color: #f7f7f7;
}
#portrait{
	float:left;
	margin: 0px 10px 0px 0px;
	width: 128px;
	height: 128px;
}