@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic&effect=3d-float);
p{
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 300;
}
a{
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 300;
}
h2{
	font-family: "Source Sans Pro", sans-serif;
}
h3{
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 300;
	font-size: 20px;
}

.jumbotron{
	background-image: url(../resources/jumbotron.jpg);
	background-size: cover;
	
}
.jumbotron{
	color: #f6f6f6;
	
}
.jumbotron h1{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight:300;
	
}
#portrait{
	float:left;
	margin: 0px 10px 0px 0px;
	width: 128px;
	height: 128px;
}
.footer{
	background-color: #f6f6f6;
}
#F6F6F6